body {
  background-color: hsl(120, 70%, 92%);
}

html,
body {
  height: 100%;
}

.header-image {
  height: 20vh;
  object-fit: cover;
  background: rgb(42, 72, 0);
}

#header-date {
  background: hsla(85, 50%, 25%, 0.637);
  border-radius: 5px;
}

.container {
  background: whitesmoke;
}

#footer {
  background: #f9f6e7;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sponsor-image {
  height: 80px;
  object-fit: cover;
  object-position: 0 0;
  margin: 1rem;
}

.main {
  background: whitesmoke;
  width: 100%;
}

h1,
h2 {
  font-size: 1.3rem;
  font-weight: 700;
}

.nav-container {
  background: hsl(120, 10%, 90%);
}

#title {
  text-shadow: 0 0 1rem black;
}

p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

#title {
  font-size: 2.5rem;
}

h5 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.nav-link {
  font-size: 0.8rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#footer {
  min-height: 100px;
}

@media (min-width: 1000px) {
  #main {
    width: 1000px;
  }
}

@media (max-width: 1000px) {
  #title {
    font-size: 1.5rem;
  }

  #header-date {
    font-size: 1.2rem;
  }
}

/* Początek stylów okna modalnego */

.thumbnail {
  cursor: pointer;
}

.modal {
  display: none; /* Ukryte domyślnie */
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  /* width: 100%; */
  /* height: 100%; */
  background-color: rgba(0, 0, 0, 0.8); /* Przyciemnione tło */
}

#modalImage {
  margin: auto;
  /* display: block; */
  width: 80vw;
  /* max-height: 80%; */
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

h5 {
  background-color: #45818b;
  padding: 0.2rem 0.5rem;
  margin: -0.5rem;
  color: #fff;
  font-weight: 700 !important;
  margin-bottom: 1rem !important;
}

.person-img {
  vertical-align: middle;
  overflow: hidden;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 1rem;
}
